Que-11.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:

First get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [ ]:
!pip install selenium

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
driver = webdriver.Chrome(r"F:\Data science internship\chromedriver.exe")

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.close()

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
# Finding element for job search bar
search_designation=driver.find_element_by_class_name("suggestor-input")
search_designation.send_keys("Data Analyst")
search_loaction=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input') 
search_loaction.send_keys("Bangalore")

In [ ]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"
# open the web page
driver.get(url)

In [ ]:
job_title=[]
company_names=[]
locations_list=[]
experience_list=[]
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

In [ ]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

In [ ]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

In [ ]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

In [ ]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

In [ ]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

In [ ]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

In [ ]:

for i in location_tags :
    location=i.text
    locations_list.append(location)
locations_list[0:10]

In [ ]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['experience_required']=experience_list[:10]
jobs['location']=locations_list[:10]
jobs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:

First get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
driver = webdriver.Chrome(r"F:\Data science internship\chromedriver.exe")

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.close()

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
# Finding element for job search bar
search_designation=driver.find_element_by_class_name("suggestor-input") #job search bar
search_designation.send_keys("Data Scientist")
search_loaction=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input') #Location Search bar
search_loaction.send_keys("Bangalore")

In [ ]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [ ]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

driver.get(url)

In [ ]:
job_titles=[]
company_names=[]
locations_list=[]
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

In [ ]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

In [ ]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

In [ ]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

for i in location_tags :
    location=i.text
    locations_list.append(location)
locations_list[0:10]

In [ ]:
print(len(job_titles),len(company_names),len(locations_list))

In [ ]:
#Import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['location']=locations_list[:10]
jobs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: The task will be done as shown in the below steps:

first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, and Companies” field.
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
driver = webdriver.Chrome(r"F:\Data science internship\chromedriver.exe")

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.close()

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
search_field_designation=driver.find_element_by_class_name("suggestor-input") #job search bar
search_field_designation.send_keys("Data Scientist")
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [ ]:

url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist"

driver.get(url)

In [ ]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]
salary_list=[]
# So lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

In [ ]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

In [ ]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

In [ ]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

In [ ]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

In [ ]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

In [ ]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

In [ ]:
for i in location_tags :
    location=i.text
    locations_list.append(location)
locations_list[0:10]

In [ ]:
salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span[1]")
salary_tags[0:10]

In [ ]:
for i in salary_tags :
    salary=i.text
    salary_list.append(salary)
salary_list[0:10]

In [ ]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles[:10]
jobs['Company']=company_names[:10]
jobs['Experience_required']=experience_list[:10]
jobs['Location']=locations_list[:10]
jobs['Salary']=salary_list[:10]
jobs

QUE4: Scrape data of first 100 sunglasses listings on flipkart.com

In [ ]:
# Lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
driver = webdriver.Chrome(r"F:\Data science internship\chromedriver.exe")

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.get('https://www.flipkart.com/')

In [ ]:
# Finding element for search bar
search_g= driver.find_element_by_xpath("//input[@class='_3704LK']") 
search_g

In [ ]:
search_g.send_keys('sunglasses')

In [ ]:
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()
B_name=[]
Price=[]
P_desc=[]

In [ ]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
   
 for j  in b_name:
        B_name.append(j.text)
B_name[:100]

In [ ]:
for i in range(3): 
    p_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for k in p_desc:
        P_desc.append(k.text)
P_desc[:100]

In [ ]:
for i in range(3): 
    price =driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for l in price:
        Price.append(l.text)
Price[:100]

In [ ]:
#So lets check th length of ech element.
print(len(B_name[:40])),print(len(Price[:40])),print(len(P_desc[:40]))

In [ ]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:40]
sun_gl['P_price']=Price[:40]
sun_gl['Pr_desc']=P_desc[:40]
sun_gl

In [ ]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    p_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]
        
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100]
        
    for l in price:
        Price.append(l.text)
    Price[:100]

In [ ]:
B_name[:100]

In [ ]:
P_desc[:100]

In [ ]:
Price[:100]

In [ ]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
driver = webdriver.Chrome(r"F:\Data science internship\chromedriver.exe")

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.get('https://www.flipkart.com/')

In [ ]:
search= driver.find_element_by_xpath("//input[@class='_3704LK']") 
search

In [ ]:
search.send_keys('sneakers')
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [ ]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    p_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]
B_name[:100]

In [ ]:
P_desc[:100]

In [ ]:
Price[:100]

In [ ]:
Discount[:100]

In [ ]:
sneakers=pd.DataFrame({})
sneakers['Brand_name']=B_name[:100]
sneakers['P_price']=Price[:100]
sneakers['Pr_desc']=P_desc[:100]
sneakers

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
# Lets first connect to the web driver
driver = webdriver.Chrome(r"F:\Data science internship\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)
driver.get('https://www.ambitionbox.com/')

In [ ]:
search= driver.find_element_by_xpath("//a[@class='link jobs']") 
search

In [ ]:
search.send_keys('jobs')

In [ ]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
search_button.click()

# Specifying the url of the webpage to be scraped
url="https://www.ambitionbox.com/jobs"

# Lets open the webpage through our web driver
driver.get(url)

In [ ]:
search_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input") #job search bar
search_designation

In [ ]:
search_designation.send_keys("Data Scientist")

search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_button.click()

url="https://www.ambitionbox.com/jobs/search?tag=Data%20Scientist"

In [ ]:
search_loaction=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i') 
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
search_button.click()

In [ ]:
select_button=driver.find_element_by_xpath("//label[@class='radio-label']")
select_button

In [ ]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]
# So lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title noclick']")
titles_tags[0:10]

In [ ]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

In [ ]:
companies_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")
companies_tags[0:10]

In [ ]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

In [ ]:
experience_tags=driver.find_elements_by_xpath("//p[@class='body-small-l']")
experience_tags[0:10]

In [ ]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

In [ ]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['experience_required']=experience_list[:10]
jobs

QUE10-Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
driver = webdriver.Chrome(r"F:\Data science internship\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)
driver.get('https://www.ambitionbox.com/')

In [ ]:
search= driver.find_element_by_xpath("//a[@class='link salaries']") 
search

In [ ]:
search.send_keys('Salaries')
search.click()

In [ ]:
search_job_profile=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_job_profile

In [ ]:
search_job_profile.send_keys("Data Scientist")
search_job_profile.click()
select_button=driver.find_element_by_xpath("//p[@class='tt_text']")
select_button

In [ ]:
search_job_profile.click()
select_button=driver.find_element_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")
select_button

In [ ]:
search_job_profile.click()
company_name=[]
total_salary_record=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required=[]
companies_tags=driver.find_elements_by_xpath("//div[@class='name']")
companies_tags[0:10]

In [ ]:
for i in companies_tags:
    company_names=i.text
    company_names.append(company_name)
company_names[0:10]

In [ ]:
salary_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
salary_tags[0:10]

In [ ]:
for i in salary_tags :
    salary=i.text
    total_salary_record.append(salary)
total_salary_record[0:10]

In [ ]:
salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
salary_tags[0:10]

In [ ]:
for i in salary_tags :
    salary=i.text
    minimum_salary.append(salary)
minimum_salary[0:10]

In [ ]:
salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
salary_tags[0:10]

In [ ]:
for i in salary_tags :
    salary=i.text
    maximum_salary.append(salary)
maximum_salary[0:10]

In [ ]:
experience_tags=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
experience_tags[0:10]

In [ ]:
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

In [ ]:
jobs=pd.DataFrame({})
jobs['Total Salary Record']=total_salary_record[:10]
jobs['Minimum Salary']=minimum_salary[:10]
jobs['Maximum Salary']=maximum_salary[:10]
jobs['Experience']=experience_required[:10]
jobs

In [ ]:
driver.close()

que 5- scrap 100 reviews data from flipkart.com?

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
driver = webdriver.Chrome(r"F:\Data science internship\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [ ]:
Rating=[] 
Review_summary=[]
Full_review=[]
all_btn = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
all_btn.click()

In [ ]:
for page in range(0,10):
    r = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

    for i in r:
        title=i.text
        Rating.append(title)
    driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").click()
Rating[0:100]

In [ ]:
for page in range(0,10):
    s = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

    for i in s:
        title=i.text
        Review_summary.append(title)
    driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").click()
Review_summary[0:100]

In [ ]:
for page in range(0,10):
    f = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

    for i in f:
        title=i.text
        Full_review.append(title)
    driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").click()
Full_review[0:100]

In [ ]:
import pandas as pd
table=pd.DataFrame({})

table['Rating']=Rating[:100]
table['Review Summary']=Review_summary[:100]
table['Full Review']=Full_review[:100]

table

que 7- scrap the data from myntra site.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
driver = webdriver.Chrome(r"F:\Data science internship\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.get('https://www.myntra.com/shoes')
driver.find_element_by_xpath("//input[@value='6589.0 TO 13059.0']").click()
driver.find_element_by_xpath("//span[@data-colorhex='black']").click()

In [ ]:
Brand=[]
Product_d=[]
Price=[]

In [ ]:
for page in range(0,3):
    b = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")

    for i in b:
        title=i.text
        Brand.append(title)
    driver.find_element_by_xpath("//li[@class='pagination-number']/a").click()
Brand[0:100]

In [ ]:
for page in range(0,3):
    p = driver.find_elements_by_xpath("//h4[@class='product-product']")

    for i in p:
        Product_d.append(title)
    driver.find_element_by_xpath("//li[@class='pagination-number']/a").click()
Product_d[0:100]

In [ ]:
for page in range(0,3):
    pr = driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")

    for i in pr:
        title=i.text
        Price.append(title)
    driver.find_element_by_xpath("//li[@class='pagination-number']/a").click()
Price[0:100]

In [ ]:
import pandas as pd
table=pd.DataFrame({})

table['Brand']=Brand[:100]
table['Product Description']=Product_d[:100]
table['Price']=Price[:100]

table

que 8-scrap the data from amazom website.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
driver = webdriver.Chrome(r"F:\Data science internship\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.get('https://www.amazon.in/')
s = driver.find_element_by_id('twotabsearchtextbox')
s.send_keys("Laptop")

In [ ]:
search_btn = driver.find_elements_by_xpath("//div[@class='nav-search-submit nav-sprite']/span")
search_btn[0].click()

In [ ]:
driver.find_element_by_xpath("//a[@href='/s?k=Laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1613477960&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_16']/div").click()
driver.find_element_by_xpath("//a[@href='/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1613478003&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17']/div").click()
url="https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1613478003&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17"
driver.get(url)

In [ ]:
Title=[]
Ratings=[]
Price=[]

In [ ]:
t = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
t[0:10]

In [ ]:
for i in t:
    title=i.text
    Title.append(title)
Title[0:10]

In [ ]:
r = driver.find_elements_by_xpath("//span[@class='a-size-base']")
r[0:10]

In [ ]:
for i in r:
    title=i.text
    Ratings.append(title)
Ratings[0:10]

In [ ]:
p = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
p[0:10]

In [ ]:
for i in p:
    title=i.text
    Price.append(title)
Price[0:10]

In [ ]:
import pandas as pd
table=pd.DataFrame({})

table['Title']=Title[:10]
table['Ratings']=Ratings[:10]
table['Price']=Price[0:10]

table